services:
  eureka-server:
    build:
      context: ./eureka-server
    image: eureka-server
    container_name: eureka-server
    ports:
      - "8761:8761"
    networks:
      - microservice-network

  postgres:
    image: postgres:15-alpine
    container_name: postgres
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./docker/postgres/init.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - microservice-network

  api-gateway:
    build:
      context: ./api-gateway
    image: api-gateway
    container_name: api-gateway
    env_file:
      - .env
    environment:
      SPRING_APPLICATION_NAME: api-gateway
      EUREKA_CLIENT_SERVICE_URL_DEFAULTZONE: ${EUREKA_CLIENT_SERVICE_URL_DEFAULTZONE}
      SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_JWK_SET_URI: http://keycloak:8080/realms/micro-realm/protocol/openid-connect/certs
    depends_on:
      - eureka-server
      - keycloak
    ports:
      - "8080:8080"
    networks:
      - microservice-network

  keycloak:
    image: quay.io/keycloak/keycloak:26.4.7
    container_name: keycloak
    command: start-dev
    env_file:
      - .env
    environment:
      KEYCLOAK_ADMIN: ${KEYCLOAK_ADMIN}
      KEYCLOAK_ADMIN_PASSWORD: ${KEYCLOAK_ADMIN_PASSWORD}
      KC_DB: postgres
      KC_DB_URL: jdbc:postgresql://postgres:5432/keycloak_db
      KC_DB_USERNAME: ${POSTGRES_USER}
      KC_DB_PASSWORD: ${POSTGRES_PASSWORD}
      KC_PROXY: "edge"

      KC_HOSTNAME_STRICT: "false"
      KC_HOSTNAME_STRICT_HTTPS: "false"
      KC_HTTP_ENABLED: "true"
    ports:
      - "8180:8080"
    depends_on:
      - postgres
    networks:
      - microservice-network

  user-service:
    build:
      context: ./user-service
    image: user-service
    container_name: user-service
    environment:
      SPRING_APPLICATION_NAME: user-service
      EUREKA_CLIENT_SERVICE_URL_DEFAULTZONE: http://eureka-server:8761/eureka/
      POSTGRES_HOST: postgres
      POSTGRES_PORT: 5432
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      KEYCLOAK_URL: http://keycloak:8080
    depends_on:
      - eureka-server
      - postgres
      - keycloak
    ports:
      - "8081:8081"
    networks:
      - microservice-network

  task-service:
    build:
      context: ./task-service
    image: task-service
    container_name: task-service
    env_file:
      - .env
    environment:
      SPRING_APPLICATION_NAME: task-service
      EUREKA_CLIENT_SERVICE_URL_DEFAULTZONE: ${EUREKA_CLIENT_SERVICE_URL_DEFAULTZONE}
      SPRING_DATASOURCE_URL: ${TASK_DATABASE_URL}
    depends_on:
      - eureka-server
      - postgres
    ports:
      - "8082:8082"
    networks:
      - microservice-network

  notification-service:
    build:
      context: ./notification-service
    image: notification-service
    container_name: notification-service
    env_file:
      - .env
    environment:
      SPRING_APPLICATION_NAME: notification-service
      EUREKA_CLIENT_SERVICE_URL_DEFAULTZONE: ${EUREKA_CLIENT_SERVICE_URL_DEFAULTZONE}
    depends_on:
      - eureka-server
    ports:
      - "8083:8083"
    networks:
      - microservice-network

networks:
  microservice-network:
    driver: bridge
volumes:
  postgres_data:
